.wrapper {
  padding: 1rem;
  overflow: hidden;
}

.title {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding-bottom: 0.5rem;
  scroll-padding-left: 1rem;
}

.carousel::-webkit-scrollbar {
  height: 6px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}
