.appLayout {

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainContainer {

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
